
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: rgba(241,186,227,.6);
}


.denglu {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	height: 300px;
	padding: 40px;
	background:rgba(249,248,248,.7);
	box-sizing: border-box;
	box-shadow: 0.15px 18px rgba(249,248,248,.5);
	border-radius: 10px;
	text-align: center;
}


.denglu h1{
	margin:-30px 0 30px;
	padding: 0;
	color: rgba(237,155,239,1.00);
	text-align: center;
}


.denglu  inputBox{
	position: relative;
}

.denglu .inputBox input{
	width:100%;
	padding: 10px 0;
	font-size: 20px;
	color: black;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	background: transparent;
}



/*设置submit,reset按钮*/
input[type="submit"],input[type="reset"]{
	background: transparent;
	border: none;
	outline: none;
	color: white;
	background: rgba(241,186,227,.6);
	padding: 10px 20px;
	cursor:pointer;
	border-radius: 5px;	
}

input[type="text"],input[type="password"]{
	background: transparent;
	border: none;
	outline: none;
	color: white;
	background: rgba(241,186,227,.6);
	padding: 10px 20px;
	cursor:pointer;
	border-radius: 5px;	
	
}


.zhuce {
	text-align: center;
}

a{
	color:rgba(237,155,239,1.00);
	font-size: 18px;
	position: relative;
	top: 7px;
}
