body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: rgba(241,186,227,.6);
}


.message {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	height: 400px;
	padding: 40px;
	background:rgba(249,248,248,.7);
	box-sizing: border-box;
	box-shadow: 0.15px 18px rgba(249,248,248,.5);
	border-radius: 10px;
	text-align: center;
}


/*设置submit,reset按钮*/
input[type="submit"],input[type="reset"]{
	background: transparent;
	border: none;
	outline: none;
	color: white;
	background: rgba(241,186,227,.6);
	padding: 10px 20px;
	cursor:pointer;
	border-radius: 5px;
}


.f-messages {
	width:250px;
	height: 100px;
}

.form {
	position: relative;
	top: -15px;
}
